@charset "utf-8";

html, body {font-size: 10px;}
html, body {height: 100%;}
#wrap { display: flex; flex-direction: column;}
.cartWrap, #subCont {flex: 1; height: 100%;}
/*포커스*/
#wrap{min-width: 1360px; overflow-x: hidden;/* height: 100%;*/ min-height: 100%;}
#wrap.hAuto{height: auto; min-height: calc(100% - 402px);}
a:hover{ text-decoration: none;}

/*인풋 셀렉트*/
input[type='text'],
input[type='password']{height: 40px; border-radius: 5px; border: 1px solid #ccc; padding: 10px; width: 352px;}
input::placeholder {color: #ADADAD;}
textarea {border: 1px solid #ccc; border-radius: 5px; height: 25rem; padding: 10px;}
input[type='text']:focus,
input[type='password']:focus,
select:focus,
textarea:focus {outline: 2px solid #1A83EF;}
textarea::placeholder {color: #ADADAD;}
select { height: 4rem; padding-left: 1.2rem; padding-right: 4rem; border: 1px solid #d8d7d8; border-radius: 3px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url(../img/ico_select.svg) right center no-repeat; border-radius: 5px;}
select:focus{border-radius: 5px;}

span, p {word-break: keep-all;}

/* btn~ */
.btnLogo { display: inline-block; width: 80px; height: 28px; background: url(../img/logo.svg) center no-repeat; z-index: 999; text-indent: -9999px; background-size: cover; margin-right: 40px;}  

.btnMenu { display: inline-block; width: 4.5rem; height: 4.5rem; background: url(../img/menu.svg) center no-repeat; z-index: 99; } 


/* main */
#contHeader {width: 100%; position: relative; height: 122px;}  
#contHeader::after {display: inline-block; height: .5px; width: 100%; background: #D2D2D2; content: ""; position: absolute; top: 66px;}
#contHeader > div{max-width: 1360px; margin: 0 auto; display: flex; align-items: center; height: 66px; transition-duration: 0.4s; transition-timing-function: ease; box-sizing: border-box; background-repeat: no-repeat;}
#contHeader > div:nth-of-type(2) {height: 56px;}
#contHeader #hamburger-icon { position: relative; display: inline-block; top: initial; right: initial; } 

#subCont { position: relative; max-width: 1120px; margin: 0 auto; min-height: calc(100% - 402px); padding-bottom: 10em;}

/*3차메뉴*/
#quickMenu{width: 100px; height: 140px; position: absolute; top: 220px; z-index: 15; left: -140px;} 
.quickMenuMiddle{ width: 100%; display: flex; flex-direction: column; align-items: flex-end; justify-content: space-between;}
#quickMenu li {text-align: right; margin-bottom: 12px;}
#quickMenu li:last-child {margin-bottom: 0px;}
#quickMenu li.on span{color: #120D4D; font-weight: 600;}
#quickMenu li a span {color: #D3D3D3;}
#quickMenu li i {display: block; background-repeat: no-repeat; margin: 0 auto; margin-bottom: 5px;}
#quickMenu li span {font-size: 1.6rem; display: block;}
#quickMenu a{display: block; width: 100%; text-align: right;}
#quickMenu a:hover {text-decoration: none;}

#section1 {height: 500px;}
#section2 {height: 500px;}
#section3 {height: 500px;}
#section4 {height: 500px;}


/*햄버거메뉴*/
.mainNav { visibility: hidden; opacity:0; height: 100%; position: fixed; right: -1140px; top: 0; z-index: 31; width: 1140px; padding: 64px 94px; box-sizing: border-box; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; background: #ECECF4;; display: flex; flex-direction: row; align-content:flex-start; flex-wrap: wrap; align-items:center; justify-content: flex-start; }
.mobMenuBtn {z-index: 9;  display: inline-block; width: 60px; height: 60px; text-indent: -9999px; box-sizing: border-box; background:url(../[TPH_Vimages]/ham.svg) center no-repeat; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
.closedNavM { visibility: visible; opacity: 1; right: 0;}
a.menuBtn.closedNavMBtn {background: url(../img/ico_close.svg) center no-repeat; z-index: 99;}

.mainNav > ul{display: flex; flex-direction: column; margin-top: 130px; }
.mainNav > ul > li {margin-bottom: 64px;}
.mainNav > ul > li > a{font-weight: 600; display: inline-block; width: 197px; font-size: 24px;}
.mainNav ul ul{ width: 755px; display: flex; flex-wrap: wrap;}
.mainNav > ul > li{font-size: 18px; margin-right: 60px; display: flex;}
.mainNav ul ul li{float: left; margin-right: 60px;}
.mainNav ul ul li a{margin-bottom: 32px; display: inline-block; font-size: 18px; font-weight: 500;}
.mainNav ul li:last-child{margin-right: 0px;}
.mainNav ul a {color: #120D4D;}
.mainNav ul a:hover{text-decoration: none;}




#menuToggle{ display: block; position: relative; top: 50px; left: 50px; z-index: 1; -webkit-user-select: none; user-select: none;}
#menuToggle a{ text-decoration: none; color: #232323; transition: color 0.3s ease;}
#menuToggle a:hover{color: tomato;}
#menuToggle input{ display: block; width: 40px; height: 32px; position: absolute; top: -7px; left: -5px; cursor: pointer; opacity: 0; z-index: 2; -webkit-touch-callout: none;}
#menuToggle span{ display: block; width: 33px; height: 4px; margin-bottom: 5px; position: relative; background: #cdcdcd; border-radius: 3px; z-index: 1; transform-origin: 4px 0px; transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;}
#menu{ position: absolute; width: 300px; margin: -100px 0 0 -50px; padding: 50px; padding-top: 125px; background: #ededed; list-style-type: none; -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */ transform-origin: 0% 0%; transform: translate(-100%, 0); transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);}
#menu li{ padding: 10px 0; font-size: 22px;}


/*상단메뉴*/
#topMenu {height: 30px; display: flex; width: 100%; position: relative; align-items: flex-start; justify-content: space-between;}
#topMenu ul li { color: #fff; float: left; vertical-align: middle; text-align: center; }
#topMenu ul {background: #fff;}
.menuLink, .submenuLink { text-decoration:none; display: block; width: 150px; font-weight: bold;}
.menuLink {margin-right: 20px; width: auto; height: 34px; border-radius: 6px; padding: 4px 13px; display: inline-block;  font-size: 1.6em; font-weight: 600; line-height: 25.6px; letter-spacing: 0.01em; text-align: right; box-sizing: border-box; color: #120D4D; font-weight: 600;}
.menuLink:hover {background-color: #E0DEF2; text-decoration: none;}
.topMenuLi:hover .submenu {height: 38px; width: auto;}
.submenu {position: absolute; height: 0px; visibility: hidden; width: 100%; left: 0px; top: 65px; z-index: 30;}
.submenu {height: 38px; width: auto; }
.submenu li {display: inline-block; margin-right: 20px; height: 100%; color:#AEAEAE;}
.submenu a { margin-right: -1px; display: inline-block; font-size: 16px; height: 38px; color:#AEAEAE; font-weight: 600; min-width: 60px;}
.submenu a:hover{background:url(../img/ico_nav.svg) no-repeat center 26px; text-decoration: none; background-size: 60px auto; color: #120D4D;}
.submenu a:hover ,.menuLink:visited ,.menuLink:hover{color: #120D4D;}  
.submenu.on { visibility: visible;}
#topMenu > ul > li:nth-of-type(2) .submenu li{margin-right: 14px;}


.hRight a{font-size: 1.6em; font-weight: bold; margin-right: 20px; width: auto; height: 34px; border-radius: 6px; padding: 4px 10px; color: #120D4D; display: flex;}
.hRight {display: flex; align-items: center;}
.hRight a::after {display: inline-block; width: 18px; height: 18px; content: "";}
.hRight a:hover {text-decoration: none}
.hRight .conference::after {background: url(../img/ico_user.svg) center no-repeat; background-size: contain;}
.hRight .market::after {background: url(../img/ico_shopping.svg) center no-repeat; background-size: contain;}

.hBottom {justify-content: flex-end; }
.hBottom ul{display: flex; position: relative; z-index: 35;}
.hBottom a{margin-right: 20px; width: auto; height: 34px; border-radius: 6px; padding: 4px 13px; display: inline-block;  font-size: 1.6em; font-weight: 600; line-height: 25.6px; letter-spacing: 0.01em; text-align: right; box-sizing: border-box; color: #120D4D;}
.hBottom a:hover {text-decoration: none;}
 a.menuBtn {text-indent: -9999px; display: inline-block; width: 32px; height: 32px;
 background: url(../img/ico_ham.svg) center no-repeat; text-align: inherit;}
 a.basket {text-indent: -9999px; display: inline-block; width: 32px; height: 32px;
 background: url(../img/ico_basket.svg) center no-repeat; text-align: inherit;}
.hBottom li:last-child{margin-right: none;}

.hBottom.rightNav ul{position: fixed;}
.hBottom.rightNav a{color: #272727;}
.hBottom.rightNav a.basket {text-indent: -9999px; display: inline-block; width: 32px; height: 32px;
 background: url(../img/ico_basket_b.svg) center no-repeat; text-align: inherit;}



.titleH1{ font-size: 46px; font-weight: 700; line-height: 64.4px; text-align: left; color: #2F2D43; margin-top: 64px; margin-bottom: 94px;}
.parentTitle{display: flex; align-items: center;  font-size: 28px; font-weight: 700; line-height: 44.8px; letter-spacing: 0.01em; text-align: left; color: #2F2D43; margin-bottom: 32px;}
.parentTitle::before{content: ""; display: inline-block; width: 11px; height: 46px; background: url(../img/parenthesis.png) no-repeat center; transform: rotate(180deg); margin-right: 4px;}
.parentTitle::after{content: ""; display: inline-block; width: 11px; height: 46px; background: url(../img/parenthesis.png) no-repeat center; margin-left: 4px;}
.textBoxArea {display: flex;}
.textBox01 {width: 550px; height:128px; padding: 24px; gap: 16px; border-radius: 12px; background: #F0F0F9; margin-right: 20px;}
.textBox01:nth-child(2) {margin-right: 0px;}
.textBox01 b{display: inline-block;}
.textBox01 > p {display: flex; align-items: center;  font-size: 20px; font-weight: 300; line-height: 32px; text-align: left; margin-bottom: 16px;}
.textBox01 > p:last-child {margin-bottom: 0px;}
i.num{display: inline-block; width: 32px; height: 32px; border-radius: 50px; margin-right: 16px; background: #60B057; color: #fff; font-style: normal; text-align: center;}
i.bus {display: inline-block; width: 32px; height: 32px; top: 3px; left: 5px; background: url(../img/ico_bus.svg) no-repeat center; margin-right: 16px;}
.map {width: 1120px; height: 550px; margin-bottom: 100px;}

.locationBox {margin-bottom: 33px;}
.locationBox a{font-size: 1.6em; font-weight: 500; line-height: 25.6px; letter-spacing: 0.01em; text-align: left; color: #333; display: flex; align-items: center;}
.locationBox a:hover{text-decoration: none;}
.locationBox i{display: inline-block; width: 20px; height: 20px; text-indent: -9999px; margin-right: 5px;}
.locationBox ul {display: flex;}
.locationBox ul li {margin-right: 62px;}
a.location {margin-bottom: 12px; cursor: default;}
a.location i{background: url(../img/ico_location.svg) no-repeat center;}
a.tel i{background: url(../img/ico_tel.svg) no-repeat center;}
a.mail i{background: url(../img/ico_mail.svg) no-repeat center;}
a.fax i{background: url(../img/ico_fax.svg) no-repeat center;}
a.fax {cursor: default;}


/*슬라이드*/
.carouselMain { width: 1120px; height: 240px; position: relative; overflow: hidden; margin: 0 auto; user-select: none; margin-bottom: 24px;}
.carouselWrapper { display: flex; transition: transform 1s;}
.carouselSlide { flex: 0 0 1120px; position: relative; height: 240px;}
.carouselSlide img { display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 16px;}
.carouselBtnCon { position: absolute; top: 50%; transform: translateY(-50%); display: flex; justify-content: space-between; width: 100%;}
.carouselBtn { width: 50px; height: 50px; color: #fff; background: transparent; border: none; outline: none; cursor: pointer;}
.carouselPrev { background-color: rgba(0, 0, 0, 0.3); border: 0px; padding-top: 5px; padding-bottom: 5px; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.carouselNext { background-color: rgba(0, 0, 0, 0.3); border: 0px; padding-top: 5px; padding-bottom: 5px; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.carouselPagination {position: absolute;bottom: 12px;left: 50%;transform: translateX(-50%);display: flex;}
.carouselCircle { width: 10px; height: 10px; background-color: #fff; border-radius: 50%; margin-right: 8px; cursor: pointer; opacity: .5;}
.carouselCircle:last-child {margin-right: 0px;}
.carouselCircle.active {background-color: #fff; opacity: 1;}


/*탭*/
.serchTab {padding-bottom: 50px; margin-bottom: 64px;}
.serchTab .tab {display: flex; float: left;}
.serchTab .tab > li{margin-right: 24px; height: 38px;}
.serchTab .tab > li.on {background:url(../img/ico_nav.svg) no-repeat center 26px; text-decoration: none; background-size: 60px auto; color: #120D4D;}
.serchTab .tab > li:last-child{margin-right: 0px;}
.serchTab .tab > li a{color:#bbb; font-size: 16px; font-weight: 600;} 
.serchTab .tab > li.on > a{color: #120D4D;} 
.serchTab .tab > li a:hover{text-decoration: none;}
.serchTab .tab > li ul {display: flex; position: absolute; margin-top: 24px; left: 0;}
.serchTab .tab > li ul li {width: auto; padding: 6px 14px; border-radius: 8px; margin-right: 24px; border:1px solid #bbb;}
.tabTop40 {margin-top: -40px;}
.serchTab .tab > li ul li.on {border: 1px solid #353876; background: #EEEDFA;}
.serchTab .tab > li ul li.on a {color:#120D4D; font-size: 16px;}
.serchTab .tab > li ul li a{color: #bbb;}
.serchTab .tab > li ul {display: none;}
.serchTab .tab > li.on ul {display: flex;} 
.serchTab input::placeholder {color: #999; font-size: 14px;}
.serchTab input:focus {outline: none;}
.serchTab .serch {background: #F6F6F6; display: flex; align-items: center; width: 304px; padding-left: 16px; border-radius: 8px; float: right;}
.serchTab .serch i{width: 24px; height: 24px; background:url(../img/ion_search.svg) no-repeat;  display: inline-block; text-indent: -9999px;}
.serchTab .serch input {width: calc(100% - 40px); border: none; background: none;}

.slick-slider{ position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}
.slick-list{display: block; overflow: hidden; margin: 0 -10px; padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer; cursor: hand; }
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.slick-track{ position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto;}
.slick-track:before, .slick-track:after{display: table; content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none; float: left;height: 100%; min-height: 1px; margin: 0 10px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{ display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

.sliderWrap { position: relative; }
.sliderWrap .cont {padding: 12px; display: inline-block; height: 450px; border: 1px solid #F2F2F2; border-radius: 12px;}
.sliderWrap .cont > a{display: inline-block; width: 100%; height: 100%;}
.sliderWrap .imgWrap {width: 336px; height: 240px; border-radius: 12px; background: #E5E5EB; display: flex; justify-content: center; align-items: center; position: relative; margin-bottom: 8px;}
.sliderWrap .imgWrap .hot {width: 46px; height: 26px; padding: 2px 8px 2px 8px; border-radius: 8px; background: #506AF5; display: inline-block; color: #fff; text-align: center; font-weight: 700; font-style: normal; font-size: 14px; line-height: 22px; position: absolute; top: 0; left: 0; box-sizing: border-box;}

.sliderWrap .txt > a {display: inline-block; font-weight: 400; font-size: 14px; color: #120D4D;}
.sliderWrap .txt > a:hover{text-decoration: none;}
.sliderWrap .txt > p {font-size: 16px; font-weight: 600; color: #333; width: 230px; line-height: 24px; margin-bottom: 4px;}
.sliderWrap .txt .price {margin-top: 16px;}
.sliderWrap .txt .price i{display: block; font-size: 14px; font-style: normal; color: #777;}
.sliderWrap .txt .price i.cancel {text-decoration: line-through;}
.sliderWrap .txt .price em {font-weight: 700; font-size: 24px; color: #333;}
.txt > span {font-size: 12px; color: #777; margin-bottom: 16px;}
.txt > button {background: url(../img/ico_arrow.svg) right no-repeat; border:none; padding-right: 10px; position: relative; z-index: 5; padding-left: 0; margin-bottom: 10px; cursor: pointer; font-size: 14px; color: #120D4D;}

.slick-arrow {display: inline-block; width: 40px; height: 40px; background: url(../img/ico_slideBtn.svg) center no-repeat; background-size: cover; text-indent: -9999px; border: none; position: absolute; cursor: pointer;}
.slickNext {right: -100px; top: 50%; transform: translate(-50%,0) rotate(180deg);}
.slickPrev {left: -60px; top: 50%; transform: translate(-50%,0);}

.lgBox {margin-bottom: 100px;}
.productBox .moreBox {width: 100%; display: flex; text-align: center; justify-content: center; margin-top: 40px;}
.productBox .more {background: url(../img/ico_more_arrow.svg) right no-repeat; border:none; padding-right: 20px; color: #506AF5; display: flex; cursor: pointer; font-size: 16px;} 


/*많은제품보러가기*/
.productList .sliderWrap {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: stretch;}
.productList .sliderWrap .cont{margin-bottom: 20px;}
.productListTab { height: 35px; margin-bottom: 32px; display: flex; align-items: center; justify-content: space-between;}
.productListTab .productCount{font-size: 22px; font-weight: 600; float: left;}
.productListTab .productCount i {font-style: normal;}
.productListTab ul { float: right;}
.productListTab ul li {float: left; margin-right: 16px;}
.productListTab ul li:last-child {margin-right: 0px;}
.productListTab ul li a{font-weight: 600; font-size: 16px; color: #C0C0C0;}
.productListTab ul li.on a {color: #120D4D;}



 
/*푸터*/
#ft { position: relative; width: 100%; min-height:280px; background-color: #222222;}
#ft:before { content:''; position:absolute; top:60px; width:100%; height:1px; background-color: rgba(255,255,255,0.2);}
@media all and (max-width:480px) {
    #ft:before {top:80px;}
}

#ft .container { position: relative; width: 1400px; margin:0 auto; display: flex; justify-content: space-between;}
@media all and (max-width:1400px) {
    #ft .container {width: 100vw;padding:0 20px;}
}
@media all and (max-width:780px) {
    #ft .container {flex-direction: column;}
}
#ft .container .left .botMenu{ display: flex; height:60px; align-items: center; flex-wrap: wrap;}
@media all and (max-width:480px) {
    #ft .container .left .botMenu{height:80px; }
}
#ft .container .left .botMenu a{ font-size:15px; color:#BBBBBB; padding:0 20px; font-family: 'noto sans kr'; font-weight: 200; line-height: 1.4em;}
@media all and (max-width:480px) {
    #ft .container .left .botMenu a{ width:50%; font-size:13px;}
    #ft .container .left .botMenu a:nth-child(3){padding-left:0;}
}
#ft .container .left .botMenu a:first-child{padding-left:0;}
#ft .container .left .address{margin-top:40px;}
#ft .container .left .address span{ position: relative; font-size:1.4rem; color:#999999; font-weight: 300; font-family: 'noto sans kr'; padding:0 20px; line-height: 1.4em; display: inline-block; margin-bottom:6px;}
#ft .container .left .address span::before{ content:''; width:1px; height:12px; position:absolute; left:0; top:5px; background-color: rgba(255,255,255,0.2);}
#ft .container .left .address span.tit{ font-weight: 600; padding-left:0;}
@media all and (max-width:600px) {
  #ft .container .left .address span { display: inline-block; width:100%; padding-left:10px;}
  #ft .container .left .address span.tit{display: block;}
  #ft .container .left .address span:nth-child(6){display: block;}
}
#ft .container .left .address span.tit::before{display: none;}


#ft .container .left .copyright { font-size:1.3rem; color:#999999; margin-top:50px; font-family: 'noto sans kr'; line-height: 1.4em;}

#ft .container .right .familySite{ position: relative; width:220px; height:60px; padding:0 20px; border-bottom:1px solid rgba(255,255,255,0.6);}

#ft .container .right .familySite .link{position: relative; font-size: 1.5rem; color: #fff; line-height: 60px; width: 100%; text-align: left; display: flex; align-items: center; justify-content: space-between; cursor: pointer;}
#ft .container .right .familySite .link:after{ width: 15px; height: 15px; display: inline-block; content: ""; background: url(../img/ico_plus.svg) no-repeat;}
#ft .container .right .familySite .listWrap{ position:absolute; top:-200px; right:0px; padding-bottom: 1px; border:1px solid #222; border-bottom:0; background-color: #222; padding:12px 20px; height:200px; width:220px; display: none;}
#ft .container .right .familySite .listWrap.on{display: inline-block;}
#ft .container .right .familySite .listWrap ul li a{ position:relative; display: block; padding-left: 15px; line-height: 2; color:#fff; font-size:1.4rem;}
#ft .container .right .familySite .listWrap ul li a:before{ position:absolute; left:0; top:12px; content:''; width:2px; height:2px; background-color: #fff;}
#ft .container .right .familySite .listWrap ul li .btnClose{ position: absolute; top:0; right:0; width: 30px; height: 30px; font-size:0; border: none; background: none;}
#ft .container .right .familySite .listWrap ul li .btnClose:after{ content:'\00d7'; font-family: 'xeicon'; color:#fff; font-size:24px; font-weight: 300;}
#ft .container .right .telList{padding:30px 20px;}
#ft .container .right .telList .tit{font-size:1.4rem;color:#fff;font-weight: 300;}
#ft .container .right .telList ul{margin-top:25px;  }
#ft .container .right .telList ul li{display: flex;  margin-top:15px;  align-items: center;}
#ft .container .right .telList ul li:nth-child(3){display: flex;  margin-top:15px;  align-items: flex-end;}
#ft .container .right .telList ul li .logo{width:80px;    }
#ft .container .right .telList ul li .num{font-size:1.3rem;color:#999999;}
@media all and (max-width:780px) {
  #ft .container .right .familySite{margin-top:20px;}
  #ft .container .left,
  #ft .container .right {display:inline-block;width:100%;float: none;}
  #ft .container .right .telList ul {display: flex;justify-content: space-between;}
  #ft .container .right .telList ul li {display: inline-block;}
  #ft .container .right .telList ul li .logo {margin-right:10px;}
  #ft .container .right .familySite {width:100%;border:1px solid rgba(255,255,255,0.6);}
  #ft .container .right .familySite .listWrap {width:calc(100% + 4px);background:#ffffff;left:-2px;}
  #ft .container .right .familySite .listWrap ul li a {color:#000000;}
  #ft .container .right .familySite .listWrap ul li a:before {background-color:#000000;}
}
@media all and (max-width:640px) { 
  #ft .container .left .botMenu a {padding:0 10px;}
  #ft .container .right .telList ul { display: inline-block; margin-top:10px;}
  #ft .container .right .telList ul li {display: inline-block; width:100%; margin-bottom:5px;}
  #ft .container .right .telList ul li .logo {  width:80px; display: inline-block;}
}



.dark {position:absolute;display:none;top:0;width:100%;height:100%;z-index:960;background-color:rgba(0,0,0,0.4);}
.dark.on { display:block;}

/* 텍스트 색상 */
.txtSkyblue {color:#84DDFF !important;}

/* 텍스트 스타일 */
ul.text-list > li { ㄴposition: relative; ㄴpadding:8px 5px 8px 20px; ㄴfont-size:2.2rem; ㄴfont-weight:300; ㄴtext-align: left;  line-height: 140%;}
ul.text-list > li:before { position:absolute; left:5px; top:19px; content:""; width:6px; height:6px; border-radius: 50%; background:#7A7EDE;}
ol.text-list-ol { display: inline-block; width:100%; font-size:inherit; margin:15px 0 25px 0;}
ol.text-list-ol > li { position: relative !important; display: inline-block; width:100%; font-size:inherit; line-height: 130%; padding:4px 0 4px 17px ; margin:0 !important;}
ol.text-list-ol > li::before { position:absolute !important; left:0 !important; top:3px !important; content:"\ea3e" !important; font-family: "xeicon"; font-size:1.2rem; color:#666666;}

.link { margin: 0; padding: 0; border: 0; background: none;}

/* cart_시작*/
:root {--dark-purple : #120D4D; }
.colorPurple {color: #3C31BC}
.partLine {display: inline-block; width:1px; height: 12px; margin: auto 12px; background-color: #D2D2D2;}
  /*button*/
.btnCouponSelect:hover,
.btnOrder:hover {color: #fff; text-decoration: none;}
.btnChk {display: flex;}
.btnChk::before {content:""; display: inline-block; position: relative; top: 0px; width: 18px; height: 18px; background: url("../img/ico_chk_w.svg") center no-repeat, #bbb; border-radius: 50%; margin:auto 7px auto 0;}
.btnChk.btnSelected::before {background: url("../img/ico_chk_w.svg") center no-repeat, var(--dark-purple);}
.cartItemList .btnChk{ margin: 0 8px auto 0;}
.btnItemPlus {background:url("../img/ico_plus_item_b.svg") center no-repeat;}
.btnItemPlus.amountLimit {background:url("/img/ico_plus_item_g.svg") center no-repeat, #f6f6f6;}
.btnItemMinus {background:url("../img/ico_minus_item_b.svg") center no-repeat;}
.btnItemMinus.amountLimit {background:url("../img/ico_minus_item_g.svg") center no-repeat, #f6f6f6;}
.btnCouponSelect {height: 25px; margin: 3px 0 3px 40px; padding: 0 4px; border-radius: 4px; background-color: var(--dark-purple); color: #fff; font-size: 13px; line-height: 25px;}
.btnDeleteGray {width:24px; height: 24px; margin-left: 16px;  background: url("../img/ico_delete.svg") center no-repeat;}
.btnOrder {display: block; padding: 10px 0; color: #fff; font-size: 18px; font-weight: 600; background-color: var(--dark-purple); border-radius: 8px; text-align: center;}

.cartWrap { padding-top: 16px; background-color: #f6f6f6;}
.cartWrap #subCont { height: auto;}
.totalCnt {display: flex; font-size: 18px; color: var(--dark-purple); font-weight: 600;}
.totalCnt span {display: inline-block; margin: auto 0 auto 4px; color: #fff; font-size: 10px; font-weight: 500; text-align: center; line-height: 16px; background-color: var(--dark-purple); width: 16px; height: 16px; border-radius: 50%; }
.selectItem {margin: 16px 0; font-size: 16px; display: flex;}
.selectItem a { color: #777;}
.cartItemList,
.orderInfo {background-color: #fff; border-radius: 16px; border: 1px solid #d2d2d2; box-shadow: 0px 4px 16px 0px #120D4D0A; margin-bottom: 20px;}
.cartListTitle { display: flex; padding: 16px 0; border-bottom: 1px solid #ddd; font-size: 16px; font-weight: 600;}
.cilCont {padding: 16px 0; display: flex; justify-content: space-between; border-bottom: 1px solid #f2f2f2;}
.cartItemList .cilCont:nth-last-child(2) {border-bottom: none;}
.cilContLeft,
.cilContLeft a,
.cilContRight {display: flex;}
.cilContLeft .itemImg { width: 120px; height: 90px;; background-color: #e5e5eb; border-radius: 8px; display: flex; overflow: hidden;}
.cartItemList >* {margin-left:20px; margin-right: 20px; }
.cartItemList .cilTotal {margin-left:0px; margin-right: 0px; padding-left:20px; padding-right: 20px; }
.itemImg img {height: 100%; margin: auto;}
.itemTxt { width: 260px; font-size: 15px; margin-left: 12px; word-break: keep-all}
.itemAmount { display: flex; height: 32px;; border: 1px solid #d2d2d2; border-radius: 4px; overflow: hidden;}
.itemAmount a{display: inline-block; width: 32px; height: 100%; background-color: #f6f6f6;}
.itemAmount span {display: inline-block; width: 40px; height: 100%;  line-height: 32px; font-size: 16px; text-align: center;}
.itemPrice {font-size: 18px !important; font-weight: 800;}
.cilTotal {display: flex; justify-content: space-around; background-color: #F8F9FA; padding-top: 16px; padding-bottom: 16px; border-radius: 0 0 16px 16px; border-top: 1px solid #ddd}
.cilTotal >div >span {display: block; padding-bottom: 8px;}
.cilTotal >div >span:first-child {font-size: 12px; color: #999;}
.cilTotal >span {text-indent: 100%; white-space: nowrap; overflow: hidden;}
.cilTotalMinus {width: 24px; background: url("../img/ico_minus_total.svg") center no-repeat;}
.cilTotalPlus {width: 24px; background: url("../img/ico_plus_total.svg") center no-repeat;}
.cilTotalEqual {width: 24px; background: url("../img/ico_equal_total.svg") center no-repeat;}

.orderInfoWrap {display: flex; justify-content: flex-end;}
.orderInfo {width: 360px; padding: 0 20px 24px 20px;}
.orderInfo span {font-size: 15px;}
.orderInfoList {padding: 16px 0; border-bottom: 1px solid #ddd;}
.orderInfoList >div {display: flex; justify-content: space-between; margin: 2px 0; line-height: 24px}
.orderTotCost {display: flex; justify-content: space-between; padding: 16px 0; margin-bottom: 8px;}

.cartOrderLayer { display: flex; position: fixed; top:0px;left: 0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3); z-index: 1000;}
.layerBox { position: relative; width: 550px; background-color: #fff; border-radius: 16px; margin: auto; padding: 24px 0; transform: translateY(150%); transition: all 0.5s ease;}
.layerBox >div {padding: 0 24px;}
.cartOrderLayer .cartOrderTitle { padding: 0 0 24px 16px; font-size: 18px; font-weight: 600; border-bottom: 1px solid #e2e2e2}
.layerCont {margin: 16px 0;}
.layerCont >div {padding-bottom: 24px;}
.layerCont >div >span {display: block; margin-bottom: 12px; font-size: 16px;}
.layerCont >div >input {width: 100%; padding: 16px; height: 50px; border: 1px solid #e2e2e2; border-radius: 5px;}
.layerCont >div >input::placeholder {color: #bbb;}
.layerOrderAmount {display: flex; justify-content: space-between}
.layerItemAmount { display: flex; height: 52px; font-size: 24px; line-height: 52px; border: 1px solid #d2d2d2; border-radius: 4px; overflow: hidden;}
.layerItemAmount a{display: inline-block; width: 52px; height: 100%; background-color: #F6F6F6;}
.layerItemAmount span {display: inline-block; width: 64px; text-align: center;}
.layerCont >div .cartLayerTotal {font-size: 30px; font-weight: 600;}
.cartOrderLayer .btnOrder {padding: 15px;}
.btnLayerClose {position: absolute; width: 24px; height: 24px; right: 16px; background: url("../img/ico_close.svg") center no-repeat;}
.layerShow {transform: translateY(0%)}
/*cart_끝*/